.header {
  width: 100%;
  padding: var(--space-7) 0 var(--space-7);
}

.inner {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  align-items: center;
  gap: var(--space-6);
}

@media (max-width: 640px) {
  .header {
    padding: var(--space-5) 0 var(--space-3);
  }
  .inner {
    padding: 0 var(--space-5);
  }
}
